@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url('../../Files/fond.png');
        margin: 0;
        background-size:100% 700px;
        background-repeat: no-repeat;
    }
    .center-div {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background-color: #ccc;
        border-radius: 3px;
    }
</style>
<div class="center-div">
    @Html.ActionLink("vérifie maintenant","Login","Account",new { @class="btn btn-success"}) 
</div>